.Home {
  font-family: serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Home a,
a:visited {
  color: inherit;
}

.top-label {
  font-family: "Abril Fatface", Times, serif;
}

.Home-title {
  font-size: 6rem;
  border-bottom: 0.5rem solid #ffa500;
  font-weight: 500;
  padding: 1rem;
  max-width: calc(100vw - 4rem);
  text-align: left;
}

.Home-nav ul {
  font-size: 1.75rem;
  list-style-type: none;
  margin-top: 1.5rem;
  text-align: left;
}

.Home-nav ul li {
  margin: 1rem 0;
}

.Home-heading__creative {
  font-size: 2.5rem;
  display: block;
  padding: 1rem;
  margin-top: 4rem;
  border-radius: 1rem;
  text-decoration: none;
  max-width: calc(100vw - 8rem);
  background-color: blanchedalmond;
  border: 1rem solid red;
  color: red;
}

.Home-heading__creative h2 {
  margin: 0;
}

.Home-heading__creative:visited {
  color: red;
}

.Home-heading__creative:hover {
  background-color: red;
  border: 1rem solid red;
  color: blanchedalmond;
}

.Home-heading__professional {
  margin-bottom: 0;
  font-size: 2.5rem;
}
