.Creative-Home-nav {
  display: flex;
  justify-content: center;
}

.Creative-Home-nav-menu-items {
  list-style-type: none;
  padding: 0;
}

.Creative-Home-nav-menu-items li {
  margin: 0.75rem 0;
  font-size: 2rem;
}

.Creative-Home-nav-menu-items h2 {
  font-size: 3rem;
  margin: 0;
  font-family: "Abril Fatface", Times, serif;
}
