.Outermost {
  background-color: blanchedalmond;
  color: darkblue;
  border: 0.75rem solid teal;
  color: teal;
}

.SecondOutermost {
  border: 0.25rem solid red;
  /* min-height: calc(100vh - 1rem); */
}

.AppContainer {
  border: 0.5rem solid #ffa500;
  min-height: calc(100vh - 3rem);
}
