@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --activeLink: rgb(30, 203, 203);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

a,
a:visited {
  color: inherit;
}

.inner-link {
  border: 0.15rem solid transparent;
}
.inner-link:hover {
  color: var(--activeLink);
  border: 0.15rem solid var(--activeLink);
  text-decoration: none;
}

.font-fatface {
  font-family: "Abril Fatface", Times, serif;
}
